<!DOCTYPE html>
<html lang="ja">
<head>
	<title>クロスワードパズル</title>
	<base target="_top">
	<meta charset="UTF-8">
</head>

<body>
<div id="app">
	<h1>クロスワード</h1>

	<!-- パズル -->
	<table class="cw">
		<tbody>
			<tr v-for="(pzlRow, rowNo) in puzzle">
				<td v-for="(pzlMass, colNo) in pzlRow" 
					:class="getPzlMassClsAttr(pzlMass, rowNo, colNo)">
					<div v-if="pzlMass.type === 'input-mass'" @click="changeActiveMass(rowNo, colNo)">
						<div :class="['puzzle-mass-inner', isNotEmpty(pzlMass.keyWordId) ? 'key-word-mass-inner' : '']">
							<div class="clue-no">
								{{ pzlMass.clueNo }}
							</div>
							<div :class="getInputCharAttr(pzlMass)">
								{{ pzlMass.value }}
							</div>
							<div class="key-word-id">
								{{pzlMass.keyWordId}}
							</div>
						</div>
					<d/div>
				</td>
			</tr>	
		</tbody>
	</table> 

	<!-- カギ -->
	<p id="clue">
		{{ getCurClueText() }}
	</p>

	<!-- アイウエオ表 -->
<table v-for="aiueoTable in aiueoTableList" class="aiueo">
	<tbody>
		<tr v-for="aiueoRow in aiueoTable">
			<td v-for="aiueoMass in aiueoRow" :class="aiueoMass.type" @click="setActiveMassValue(aiueoMass.value)">
				{{ aiueoMass.value }}
			</td>
		</tr>
	</tbody>
</table>

</div>
</body>

<style type="text/css">
table.cw{
    border-collapse: collapse;
    
    color: rgb(25, 25, 25);
    margin-bottom: 50px;
}

.puzzle-mass{
	border: 2px solid rgb(140, 140, 140);
	height: 60px;
	width: 60px;
}

.input-mass{
    
    background-color: white;
}

.input-mass:hover{
	cursor: pointer;
}

.active-line{
    background-color: rgb(181, 254, 255);
}

.active-mass{
    background-color: rgb(57, 149, 255);
}

.filled-mass{
    background-color: black;
}

.puzzle-mass-inner{
	margin: 2px;
	border: 2px dashed rgba(1, 1, 1, 0);
}

.key-word-mass-inner{
	border: 2px dashed rgb(96, 122, 135);
}

.clue-no{
    height: 15px;
    width: 60px;
    font-size: 1em;
    text-align: left;
		padding-left: 3px;
		color: rgb(50, 50, 50);
}

.input-char{
    position: relative;
    top: -5px;
    font-size: 2.1em;
    text-align: center;
    height: 30px;
    width: 60px;
}

.key-word-id{
	height: 15px;
	width: 60px;
	font-size: 1em;
	text-align: right;
	padding-right: 5px;
	padding-bottom: 5px;
	color: rgb(96, 122, 135);
}

.correct-input{
	color: rgb(25, 25, 25);
}

.wrong-input{
	color: red;
}

#clue{
    color: blue;
    font-size: 25px;
}

table.aiueo{
    font-size: 1.5em;
    color: rgb(75, 75, 75);
    margin-bottom: 20px;
}

.aiueo-mass{
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(214, 255, 238);
    text-align: center;
}

.aiueo-mass:hover{
	cursor: pointer;
	background-color: rgb(24, 188, 120);
}

.space-mass{
    background-color: rgba(0,0,0,0);
}
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript">
new Vue({
  el: '#app',
  data: {
		// クロスワードパズル
		puzzle:  [
			[
				{type: 'input-mass', answer: 'パ', value: '', clueNo: '1', acrossClueNo: '1', downClueNo: '1', keyWordId: 'A'}, 
				{type: 'input-mass', answer: 'プ', value: '', clueNo: '2', acrossClueNo: '1', downClueNo: '2', keyWordId: ''},
			 	{type: 'input-mass', answer: 'ア', value: '', clueNo: '', acrossClueNo: '1', downClueNo: null, keyWordId: ''}
			],
			[
				{type: 'input-mass', answer: 'ク', value: '', clueNo: '3', acrossClueNo: '3', downClueNo: '1', keyWordId: ''},
			 	{type: 'input-mass', answer: 'リ', value: '', clueNo: '', acrossClueNo: '3', downClueNo: '2', keyWordId: 'D'}, 
			 	{type: 'filled-mass', answer: '', value: '', clueNo: '', acrossClueNo: null, downClueNo: null, keyWordId: ''}
			],
			[
				{type: 'input-mass', answer: 'リ', value: '', clueNo: '4', acrossClueNo: '4', downClueNo: '1', keyWordId: 'B'}, 
				{type: 'input-mass', answer: 'ン', value: '', clueNo: '', acrossClueNo: '4', downClueNo: '2', keyWordId: 'E'}, 
				{type: 'input-mass', answer: 'ゴ', value: '', clueNo: '', acrossClueNo: '4', downClueNo: null, keyWordId: 'C'}
			]
		],
		// カギ情報
		clueInfo: {
			across: {
				'1': 'オセアニア州に属する島国。「○○○ニューギニア」。',
				'3': '一般にモンブランケーキのクリームの原料に使われる木の実。',
				'4': '漢字で「林檎」と書く、バラ科の植物。'
			},
			down: {
				'1': '作品や製品を盗作すること。またはその結果できたもの。',
				'2': '牛乳・卵・砂糖を主原料に、卵の熱凝固性を利用して作られるスイーツ。'
			}
		},
		activeMass: {
			rowNo: 0,
			colNo: 0,
			isAcrossSts: true
		},
		// アイウエオ表
		aiueoTableList: [
			// 上段
			[
				[{value: 'ア', type: 'aiueo-mass'}, {value: 'カ', type: 'aiueo-mass'}, {value: 'サ', type: 'aiueo-mass'}, {value: 'タ', type: 'aiueo-mass'}, {value: 'ナ', type: 'aiueo-mass'}, {value: 'ハ', type: 'aiueo-mass'}, {value: 'マ', type: 'aiueo-mass'}, {value: 'ヤ', type: 'aiueo-mass'}, {value: 'ラ', type: 'aiueo-mass'}, {value: 'ワ', type: 'aiueo-mass'}, {value: 'ン', type: 'aiueo-mass'}],
				[{value: 'イ', type: 'aiueo-mass'}, {value: 'キ', type: 'aiueo-mass'}, {value: 'シ', type: 'aiueo-mass'}, {value: 'チ', type: 'aiueo-mass'}, {value: 'ニ', type: 'aiueo-mass'}, {value: 'ヒ', type: 'aiueo-mass'}, {value: 'ミ', type: 'aiueo-mass'}, {value: '', type: 'space-mass'}, {value: 'リ', type: 'aiueo-mass'}, {value: '', type: 'space-mass'}, {value: '', type: 'space-mass'}],
				[{value: 'ウ', type: 'aiueo-mass'}, {value: 'ク', type: 'aiueo-mass'}, {value: 'ス', type: 'aiueo-mass'}, {value: 'ツ', type: 'aiueo-mass'}, {value: 'ヌ', type: 'aiueo-mass'}, {value: 'フ', type: 'aiueo-mass'}, {value: 'ム', type: 'aiueo-mass'}, {value: 'ユ', type: 'aiueo-mass'}, {value: 'ル', type: 'aiueo-mass'}, {value: '', type: 'space-mass'}, {value: '', type: 'space-mass'}],
				[{value: 'エ', type: 'aiueo-mass'}, {value: 'ケ', type: 'aiueo-mass'}, {value: 'セ', type: 'aiueo-mass'}, {value: 'テ', type: 'aiueo-mass'}, {value: 'ネ', type: 'aiueo-mass'}, {value: 'ヘ', type: 'aiueo-mass'}, {value: 'メ', type: 'aiueo-mass'}, {value: '', type: 'space-mass'}, {value: 'レ', type: 'aiueo-mass'}, {value: '', type: 'space-mass'}, {value: '', type: 'space-mass'}],
				[{value: 'オ', type: 'aiueo-mass'}, {value: 'コ', type: 'aiueo-mass'}, {value: 'ソ', type: 'aiueo-mass'}, {value: 'ト', type: 'aiueo-mass'}, {value: 'ノ', type: 'aiueo-mass'}, {value: 'ホ', type: 'aiueo-mass'}, {value: 'モ', type: 'aiueo-mass'}, {value: 'ヨ', type: 'aiueo-mass'}, {value: 'ロ', type: 'aiueo-mass'}, {value: 'ヲ', type: 'aiueo-mass'}, {value: '', type: 'space-mass'}]
			],
			// 下段
			[
				[{value: 'ガ', type: 'aiueo-mass'}, {value: 'ザ', type: 'aiueo-mass'}, {value: 'ダ', type: 'aiueo-mass'}, {value: 'バ', type: 'aiueo-mass'}, {value: 'パ', type: 'aiueo-mass'}],
				[{value: 'ギ', type: 'aiueo-mass'}, {value: 'ジ', type: 'aiueo-mass'}, {value: 'ヂ', type: 'aiueo-mass'}, {value: 'ビ', type: 'aiueo-mass'}, {value: 'ピ', type: 'aiueo-mass'}],
				[{value: 'グ', type: 'aiueo-mass'}, {value: 'ズ', type: 'aiueo-mass'}, {value: 'ズ', type: 'aiueo-mass'}, {value: 'ブ', type: 'aiueo-mass'}, {value: 'プ', type: 'aiueo-mass'}],
				[{value: 'ゲ', type: 'aiueo-mass'}, {value: 'ゼ', type: 'aiueo-mass'}, {value: 'デ', type: 'aiueo-mass'}, {value: 'ベ', type: 'aiueo-mass'}, {value: 'ペ', type: 'aiueo-mass'}],
				[{value: 'ゴ', type: 'aiueo-mass'}, {value: 'ゾ', type: 'aiueo-mass'}, {value: 'ド', type: 'aiueo-mass'}, {value: 'ボ', type: 'aiueo-mass'}, {value: 'ポ', type: 'aiueo-mass'}]
			]
		]
	},
	methods: {
		// 空文字判定
		isEmpty(value){
			return (value === undefined || value === null || value === '');
		},

		// 空文字でない判定
		isNotEmpty(value){
			return !this.isEmpty(value);
		},

		// 指定マスがアクティブかどうか
		isActiveMass(rowNo, colNo){
			return (this.activeMass.rowNo === rowNo) && (this.activeMass.colNo === colNo);
		},

		// 指定マスがアクティブ行・列かどうか
		isActiveLine(rowNo, colNo){
			if(this.activeMass.isAcrossSts){
				return (this.activeMass.rowNo === rowNo);
			} else {
				return (this.activeMass.colNo === colNo);
			}
		},

		// パズルマスのclass属性取得
		getPzlMassClsAttr(pzlMass, rowNo, colNo){
			let clsAttrList = [];

			// パズルマス共通属性
			clsAttrList.push('puzzle-mass');

			// パズルマス種別
			clsAttrList.push(pzlMass.type);

			if (this.isActiveMass(rowNo, colNo)){
				// アクティブマス
				clsAttrList.push('active-mass');
			} else if(this.isActiveLine(rowNo, colNo)) {
				// アクティブ行/列
				clsAttrList.push('active-line');
			}

			return clsAttrList;
		},

		// パズルマス入力値のclass属性取得
		getInputCharAttr(pzlMass){
			let clsAttrList = [];

			// 入力文字
			clsAttrList.push('input-char');

			if(this.isNotEmpty(pzlMass.value)){
				if(pzlMass.value === pzlMass.answer){
					// 入力値が正解
					clsAttrList.push('correct-input');
				} else {
					// 入力値が不正解
					clsAttrList.push('wrong-input');
				}
			}

			return clsAttrList;
		},
		
		// アクティブマスのカギ取得
		getCurClueText() {
			let massInfo = this.puzzle[this.activeMass.rowNo][this.activeMass.colNo];
			let clueTxt = '';

			if(this.activeMass.isAcrossSts){
				clueTxt = 'ヨコ' + massInfo.acrossClueNo + '　' + this.clueInfo.across[massInfo.acrossClueNo];
			} else {
				clueTxt = 'タテ' + massInfo.downClueNo + '　' + this.clueInfo.down[massInfo.downClueNo];
			}

			return clueTxt;
		},

		// 指定されたマスをアクティブマスに切り替え
		changeActiveMass(rowNo, colNo){
			let pzlMass = this.puzzle[rowNo][colNo];

			// アクティブカギステータスの切り替え
			let isAcrossSts = true;

			// 変更先マスが現アクティブマスの場合
			if ((this.activeMass.rowNo === rowNo) && (this.activeMass.colNo === colNo)){
				// カギのタテヨコ切り替え
				if (this.activeMass.isAcrossSts){
					// タテのカギが存在するなら切り替える
					isAcrossSts = (pzlMass.downClueNo === null)
				} else {
					// ヨコのカギが存在するなら切り替える
					isAcrossSts = (pzlMass.acrossClueNo !== null)
				}
			} else {
				// ヨコのカギがあればヨコ、なければタテ
				isAcrossSts = (pzlMass.acrossClueNo !== null)
			}

			// アクティブマス差し替え
			this.activeMass = {
				rowNo: rowNo,
				colNo: colNo,
				isAcrossSts: isAcrossSts
			}
		},

		// アクティブマスを次の入力マスへ移動
		shiftActiveMass(){
			let nextRowNo = null;
			let nextColNo = null;

			// 次の入力マスのインデックスを取得
			if(this.activeMass.isAcrossSts){
				nextRowNo = this.activeMass.rowNo;
				nextColNo = this.activeMass.colNo + 1
			} else {
				nextRowNo = this.activeMass.rowNo + 1;
				nextColNo = this.activeMass.colNo;
			}

			// 次の入力マス
			let nextMass = this.puzzle[nextRowNo][nextColNo];

			// 次の入力マスが入力マスの場合
			if(this.isNotEmpty(nextMass) && nextMass.type === 'input-mass'){
				// アクティブマス切り替え
				this.activeMass = {
					rowNo: nextRowNo,
					colNo: nextColNo,
					isAcrossSts: this.activeMass.isAcrossSts
				}
			}
		},

		// 全入力マスの正否チェック
		checkAllCollectInput(){
			for (let pzlRow of this.puzzle){
				for (let pzlMass of pzlRow){
					if(pzlMass.value !== pzlMass.answer){
						return false;
					}
				}
			}

			return true;
		},

		// キーワード回答作成
		createKeyWordAnswer(){
			let kwMassList = [];

			for (let pzlRow of this.puzzle){
				// キーワードマスのみを抽出
				kwMassList = kwMassList.concat(pzlRow.filter((mass) => this.isNotEmpty(mass.keyWordId)));
			}

			// キーワードID昇順で並び替え
			kwMassList.sort((prev, next) => prev.keyWordId.localeCompare(next.keyWordId));

			// マスの入力値のリストに変換
			return kwMassList.map((mass) => mass.value).join('');
		},

		// アクティブマスに文字入力する
		setActiveMassValue(value){
			// 文字入力
			let pzlMass = this.puzzle[this.activeMass.rowNo][this.activeMass.colNo];
			this.$set(pzlMass, 'value', value);

			if(this.checkAllCollectInput()){
				let kwAns = this.createKeyWordAnswer()
				confirm("正解です。おめでとうございます！\r\n" + "回答：" + kwAns);
				return;
			}

			// アクティブマスを次の入力マスへ移動
			this.shiftActiveMass();
		}
	}
});
</script>
</html>
